@model WCCG.PAS.Referrals.UI.Pages.BasePageModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="wIdth=device-wIdth, initial-scale=1.0" />
    <title>Referrals UI</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/codemirror/codemirror.min.css" />
    <link rel="stylesheet" href="~/css/codemirror/neat.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>


<div class="header container">
  <a class="header-link" href="/">Referrals UI</a>
  
  <form asp-page-handler="ApimKey" method="post" class="d-inline">
    <div class="float-end mt-5 mx-5">
      <label for="apim-key">APIM Key</label>
      <div class="d-inline-block mx-2">
        <input id="apim-key" type="text" class="form-control apim-key-field" asp-for="ApimSubscriptionKey"/>
      </div>

      <div class="d-inline-block float-end">
        <input class="btn btn-primary save-button" type="submit" value="Set"/>
      </div>

    </div>
  </form>
</div>



<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<script src="~/js/bootstrap.min.js"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
