<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="wIdth=device-wIdth, initial-scale=1.0" />
    <title>Referrals UI</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/codemirror/codemirror.min.css" />
    <link rel="stylesheet" href="~/css/codemirror/neat.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>


<div class="header container">
  <a class="header-link" href="/">Referrals UI</a>
</div>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<script src="~/js/bootstrap.min.js"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
