@page
@model WCCG.PAS.Referrals.UI.Pages.IndexModel

<table class="table table-hover fs-4">
  <thead>
  <tr>
    <th scope="col">Referral Id</th>
    <th scope="col">Case number</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <h2>Number of items - @Model.Referrals.Count()</h2>
  @foreach (var referral in Model.Referrals)
  {
    <tr>
      <td>@referral.ReferralId</td>
      <td>@referral.CaseNumber</td>
      <td>
        <a asp-page="/ItemEditor" asp-route-id="@referral.ReferralId">Edit</a>
      </td>
    </tr>
  }
  </tbody>
</table>
