html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
}

body {
  margin-bottom: 60px;
}

.header {
  margin-top:20px;
  margin-bottom:50px;
  height: 130px;
  background-color:#E8EDEE;
}

.header-link {
  display: inline-block;
  font-size: 50px;
  font-weight: 600;
  margin: 27px;
  color: darkblue;
  text-decoration: none;
}

.CodeMirror {
  height: auto;
  border: 1px solid #ddd;
  font-size: 16px;
}

.container{
    padding: 0;
}

.save-button {
  width: 100px;
}
